<h1 class="text-center">Users</h1>

<div class="container-fluid" ng-init="init()">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <!-- City Filter Select -->
            <div class="form-group" style="margin-bottom: 20px;">
                <label for="cityFilter"><i class="glyphicon glyphicon-map-marker"></i> Select City:</label>
                <div class="row">
                    <div class="col-md-4">
                        <select id="cityFilter" class="form-control" ng-model="city" ng-change="filterUsers()">
                            <option value="">All Cities</option>
                            <option ng-repeat="cityOption in cities" value="{{cityOption}}">{{cityOption}}</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-default" ng-click="resetFilter()">Reset Filter</button>
                    </div>
                </div>
            </div>

            <!-- Search Input -->
            <div class="form-group">
                <label>Search:</label>
                <input type="text" ng-model="search" placeholder="Search for user by username/name" 
                    class="form-control" 
                    ng-change="filterUsersWithDelay()">
            </div>

            <!-- Responsive Table -->
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in allUsers">
                            <td>{{user.firstName}} {{user.lastName}}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.isSeller ? 'Seller' : 'Buyer'}}</td>
                            <td class="text-center">
                                <button class="btn btn-danger btn-sm" ng-hide="user.isBlocked" ng-click="block(user._id)">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Block
                                </button>
                                <button class="btn btn-success btn-sm" ng-show="user.isBlocked" ng-click="unblock(user._id)">
                                    <span class="glyphicon glyphicon-ok-circle"></span> Unblock
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <!--more button to load more users-->
    <div class="text-center" ng-click="loadMore()" ng-if="hasMoreUsers" style="margin-bottom: 20px;">
        <button id="load-more-btn" class="btn btn-primary mt-3">
            Load More <span class="glyphicon glyphicon-chevron-down"></span>
          </button>
    </div>
</div>
