<h1 class="text-center">Users</h1>

<div class="container-fluid" ng-init="init()">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <!-- City Filter Dropdown -->
            <div class="dropdown" uib-dropdown on-toggle="filterUsers()" style="margin-bottom: 20px;">
                <button id="cityFilter" type="button" class="btn btn-primary dropdown-toggle" uib-dropdown-toggle>
                    <i class="glyphicon glyphicon-map-marker"></i> Select City {{city}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu text-center" uib-dropdown-menu style="min-width: 150px;">
                    <li ng-click="city = 'Delhi'"><a><strong>Delhi</strong></a></li>
                    <li ng-click="city = 'Mumbai'"><a><strong>Mumbai</strong></a></li>
                    <li ng-click="city = 'Gwalior'"><a><strong>Gwalior</strong></a></li>
                    <li ng-click="city = 'Bhind'"><a><strong>Bhind</strong></a></li>
                    <li ng-click="city = 'Gurugram'"><a><strong>Gurugram</strong></a></li>
                    <li ng-click="city = 'Agra'"><a><strong>Agra</strong></a></li>
                    <li ng-click="city = 'Shiv puri'"><a><strong>Shiv Puri</strong></a></li>
                </ul>
                <button class="btn btn-default" ng-click="resetFilter()">Reset Filter</button>
            </div>

            <!-- Search Input -->
            <div class="form-group">
                <label>Search:</label>
                <input type="text" ng-model="search" placeholder="Search for user by username/name" 
                    class="form-control" 
                    uib-typeahead="car for car in carList | filter:$viewValue | limitTo:8"
                    ng-change="filterUsersWithDelay()">
            </div>

            <!-- Responsive Table -->
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in allUsers">
                            <td>{{user.firstName}} {{user.lastName}}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.isSeller ? 'Seller' : 'Buyer'}}</td>
                            <td class="text-center">
                                <button class="btn btn-danger btn-sm" ng-hide="user.isBlocked" ng-click="block(user._id)">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Block
                                </button>
                                <button class="btn btn-success btn-sm" ng-show="user.isBlocked" ng-click="unblock(user._id)">
                                    <span class="glyphicon glyphicon-ok-circle"></span> Unblock
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
