
<div class="filter-container panel panel-default p-3" ng-init="init()" style="margin-top: 10px; margin-bottom: 20px;">
    <div class="panel-heading text-center">
        <h4>Filter Cars</h4>
    </div>
    <div class="panel-body">
        <div class="row">

            <div class="col-md-4">
                <label>Search:</label>
                <input type="text" ng-model="search" placeholder="Search for cars" 
                    class="form-control mb-2" 
                   
                    ng-change="filterCarsWithDelay()"
                    >
            </div>

            <div class="col-md-4">
                <label>Price Range:</label>
                <uib-dropdown class="mb-2" on-toggle="filterCars()">
                    <button class="btn btn-default dropdown-toggle form-control" uib-dropdown-toggle>
                        {{ priceFilter || 'All' }} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ng-click="priceFilter=''"><a href="#">All</a></li>
                        <li ng-click="priceFilter='500-1000'"><a href="#">$500 - $1000</a></li>
                        <li ng-click="priceFilter='1000-1500'"><a href="#">$1000 - $1500</a></li>
                        <li ng-click="priceFilter='1500-2000'"><a href="#">$1500 - $2000</a></li>
                        <li ng-click="priceFilter='2000-2500'"><a href="#">$2000 - $2500</a></li>
                        <li ng-click="priceFilter='2500-3000'"><a href="#">$2500 - $3000</a></li>
                        <li ng-click="priceFilter='3000-3500'"><a href="#">$3000 - $3500</a></li>
                        <li ng-click="priceFilter='3500-4000'"><a href="#">$3500 - $4000</a></li>
                        <li ng-click="priceFilter='4000-4500'"><a href="#">$4000 - $4500</a></li>
                        <li ng-click="priceFilter='4500-5000'"><a href="#">$4500 - $5000</a></li>
                        <li ng-click="priceFilter='5000-5500'"><a href="#">$5000 - $5500</a></li>
                        <li ng-click="priceFilter='5500-6000'"><a href="#">$5500 - $6000</a></li>
                        <li ng-click="priceFilter='6000-6500'"><a href="#">$6000 - $6500</a></li>
                        <li ng-click="priceFilter='6500-7000'"><a href="#">$6500 - $7000</a></li>
                        <li ng-click="priceFilter='7000-7500'"><a href="#">$7000 - $7500</a></li>
                        <li ng-click="priceFilter='7500-8000'"><a href="#">$7500 - $8000</a></li>
                        <li ng-click="priceFilter='8000-8500'"><a href="#">$8000 - $8500</a></li>
                        <li ng-click="priceFilter='8500-9000'"><a href="#">$8500 - $9000</a></li>
                        <li ng-click="priceFilter='9000-9500'"><a href="#">$9000 - $9500</a></li>
                        <li ng-click="priceFilter='9500-10000'"><a href="#">$9500 - $10000</a></li>
                        <li ng-click="priceFilter='10000'"><a href="#">Above $10000</a></li>
                    </ul>
                </uib-dropdown>
            </div>


            <div class="col-md-4">
                <label>City:</label>
                <uib-dropdown on-toggle="filterCars()">
                    <button class="btn btn-default dropdown-toggle form-control" uib-dropdown-toggle >
                        {{ city || 'Select City' }} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ng-click="city = 'Delhi'"><a href="#">Delhi</a></li>
                        <li ng-click="city = 'Mumbai'"><a href="#">Mumbai</a></li>
                        <li ng-click="city = 'Gwalior'"><a href="#">Gwalior</a></li>
                        <li ng-click="city = 'Bhind'"><a href="#">Bhind</a></li>
                        <li ng-click="city = 'Gurugram'"><a href="#">Gurugram</a></li>
                        <li ng-click="city = 'Agra'"><a href="#">Agra</a></li>
                        <li ng-click="city = 'Shiv puri'"><a href="#">Shiv Puri</a></li>
                    </ul>
                </uib-dropdown>
            </div>
        </div>

        <div class="row mt-3">

            <div class="col-md-4">
                <label>Category:</label>
                <uib-dropdown class="mb-2" on-toggle="filterCars()" >
                    <button class="btn btn-default dropdown-toggle form-control" uib-dropdown-toggle >
                        {{ category || 'Select Category' }} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ng-repeat="cat in carCategories" ng-click="setCategory(cat.name)">
                            <a href="#">{{cat.name}}</a>
                        </li>
                    </ul>
                  
                </uib-dropdown>
            </div>


            <div class="col-md-4 text-center" style="margin-top: 25px;"> 
                <button class="btn btn-warning" ng-click="resetFilters()">
                    <span class="glyphicon glyphicon-refresh"></span> Reset Filters
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Recommended Cars Carousel - Only visible to buyers -->
<div class="panel panel-default"  ng-if=" user && !user.isSeller">
>
    <div class="panel-heading" ng-if="recommendedCarsGroups.length>0">
      <h3 class="panel-title text-center">
        <span class="glyphicon glyphicon-thumbs-up"></span>Top Car Recommendations in {{user.city}}
      </h3>
    </div>
    <div class="col-12 text-center" ng-if="recommendedCarsGroups.length === 0">
      <div class="alert alert-warning mt-4">
          <strong>Unable to find Recommendations within your city</strong>
      </div>
  </div>
    <div class="panel-body">

      <div uib-carousel active="active" interval="5000" no-wrap="false">

        <div uib-slide ng-repeat="slideGroup in recommendedCarsGroups" index="$index">
          <div class="row">
            <div class="col-xs-12 col-sm-4" ng-repeat="car in slideGroup">

              <div class="thumbnail" ng-click="redirectCarPage(car._id)" style="cursor: pointer;">
                <div class="caption">
                  <span class="label label-danger pull-right" ng-if="car.isPopular">Popular</span>
                </div>
                <img ng-src="{{car.vehicleImages[0].url}}" alt="{{car.name}}" class="img-responsive">
                <h4>{{car.vehicle.company}} {{car.vehicle.name}} {{car.vehicle.modelYear}}</h4>

                  
                  <p class="text-danger"><strong>${{car.vehicle.price}}</strong> per day</p>
                  <p>
                    <span class="text-muted"><span class="glyphicon glyphicon-map-marker"></span> {{car.vehicle.city}}</span>
                    <span class="text-muted "><span class="glyphicon glyphicon-tag"></span> {{car.vehicle.category}}</span>
                    <span class="text-muted"><span class="glyphicon glyphicon-dashboard"></span> {{car.vehicle.mileage}} kmpl</span>
                    <span class="text-muted "><span class="glyphicon glyphicon-tint"></span> {{car.vehicle.fuelType}}</span>
                  </p>
                  <p>
                    
                  </p>
                  <p class="text-center">
                    <button class="btn btn-primary">View Details</button>
                  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
  

      <div class="text-center" ng-if="recommendedCarsGroups.length>0">
        <div class="btn-group">
          <button type="button" class="btn btn-default" ng-click="prevSlide()">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </button>
          <button type="button" class="btn btn-default" ng-click="nextSlide()">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
  

<div id="cars-listing" ng-init="init()" class="container mt-4">
    <div class="row">
        <div class="col-md-6 col-xs-6" style="border-radius: 10px;" ng-repeat="car in allCars ">
            <div class="panel panel-default car-panel" ng-click="redirectCarPage(car._id)">
                <div class="panel-body"> 
                    <img class="img-responsive center-block car-image" style="width: 300px; height: 200px;"  ng-src="{{ car.vehicleImages[0].url || 'default-car.jpg' }}" alt="{{ car.carName }}">
                    <div class="car-details text-center">
                        <h4 class="text-primary">{{car.company}} {{ car.name }} ({{ car.modelYear }})</h4>
                        <p class="price-tag"><strong>$ {{ car.price }}</strong> per day</p>
                        <p>
                          <strong>Color:</strong> 
                          <span ng-attr-style="display: inline-block; width: 20px; height: 20px; border-radius: 50%; border: 1px solid #ccc; vertical-align: middle; margin-left: 5px; background-color: {{car.color}}" title="{{car.color}}"></span>
                      </p>
                        <p><i class="fa fa-tachometer"></i> <strong>Mileage:</strong> {{ car.mileage }} kmpl</p>

                        <div class="owner well well-sm text-center">
                            <strong><i class="fa fa-user"></i> Owner:</strong> {{ car.owner.firstName }} {{ car.owner.lastName }} <br>
                            <strong><i class="fa fa-envelope"></i> Email:</strong> {{ car.owner.email }} <br>
                            <strong><i class="fa fa-map-marker"></i> Location:</strong> {{ car.owner.city }}<br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       

        <div class="col-12 text-center" ng-if="allCars.length === 0">
            <div class="alert alert-warning mt-4">
                <strong>No available cars matching your filters.</strong>
            </div>
        </div>
    </div>
    <div class="text-center" ng-click="loadMoreCars()" ng-if="hasMoreCars" style="margin-bottom: 20px;">
        <button id="load-more-btn" class="btn btn-primary mt-3">
            Load More <span class="glyphicon glyphicon-chevron-down"></span>
          </button>
    </div>

<div class="text-center" ng-show="isLoading">
    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    <span>Loading...</span>
</div>

</div>