<div class="container-fluid px-3" ng-init="init()">
    <div class="container-fluid text-center">
        <div class="alert alert-warning">
            <i class="fa fa-exclamation-triangle"></i> No Car Approvals
        </div>
    </div>
    
    <div class="row" ng-if="cars.length > 0">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3" ng-repeat="car in cars | orderBy:'-createdAt'">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div uib-carousel active="activeSlide" interval="5000" no-wrap="false">
                        <div uib-slide ng-repeat="slide in car.vehicleImages track by $index" index="$index">
                            <img ng-src="{{slide.url}}" class="img-fluid center-block" style="height: 200px; object-fit: cover; border-radius: 8px;" alt="Car Image">
                        </div>
                    </div>
                    
                    <h3 class="text-center">{{car.company}} {{ car.name }} ({{ car.modelYear }})</h3>
                    <p><strong>Price:</strong> ${{ car.price }}</p>
                    <p><strong>Fuel Type:</strong> {{ car.fuelType }}</p>
                    <p><strong>Category:</strong> {{ car.category }}</p>
                    <p><strong>Mileage:</strong> {{ car.mileage }} kmpl</p>
                    
                    <div class="well well-sm">
                        <strong>Owner:</strong> {{ car.owner.firstName }} {{ car.owner.lastName }}<br>
                        <strong>Username:</strong> {{ car.owner.username }}<br>
                        <strong>City:</strong> {{ car.owner.city }}<br>
                        <strong>Adhaar No:</strong> {{ car.owner.adhaar }}
                    </div>
                    
                    <div class="text-center">
                        <button class="btn btn-success" ng-click="approveCar(car._id)">Approve</button>
                        <button class="btn btn-danger" ng-click="rejectCar(car._id)">Reject</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
