<div class="container-fluid px-3" ng-init="init()">
    <loading-component is-loading="isLoading" loading-text="Loading Car Approvals..."></loading-component>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-tag"></span> Car Category Management
            </h3>
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <form ng-submit="addCarCategory()" class="form-horizontal">
                        <div class="form-group">
                            <label for="categoryInput" class="control-label col-sm-3">Category Name:</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input type="text" 
                                           class="form-control" 
                                           id="categoryInput"
                                           ng-model="carCategory" 
                                           placeholder="Enter category (e.g., SUV, Sedan)"
                                           ng-change="validateCategory()"
                                           ng-maxlength="50"
                                           ng-minlength="3"
                                           autocomplete="off">
                                    <span class="input-group-btn">
                                        <button type="submit" 
                                                class="btn btn-success" 
                                                ng-disabled="categoryError || !carCategory">
                                            <span class="glyphicon glyphicon-plus"></span> Add
                                        </button>
                                        
                                    </span>
                                </div>
                                <span class="help-block" ng-if="categoryError">
                                    <span class="text-danger">
                                        <span class="glyphicon glyphicon-warning-sign"></span> {{categoryError}}
                                    </span>
                                </span>
                                <span class="help-block" ng-if="!categoryError && carCategory">
                                    <span class="text-success">
                                        <span class="glyphicon glyphicon-ok"></span> Valid category name
                                    </span>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <div class="row" style="margin-top: 20px;">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th width="70%">Category Name</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="category in carCategories">
                                    <td>{{category.name}}</td>
                                    <td class="text-center">
                                        <button class="btn btn-xs btn-danger" ng-click="deleteCarCategory(category._id)">
                                            <span class="glyphicon glyphicon-trash"></span> Delete
                                        </button>
                                    </td>
                                </tr>
                                <tr ng-if="!carCategories || carCategories.length === 0">
                                    <td colspan="2" class="text-center">
                                        <em>No categories available. Add your first category above.</em>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <small class="text-muted">
                <span class="glyphicon glyphicon-info-sign"></span> 
                Categories added here will be available when creating or filtering vehicles.
            </small>
        </div>
    </div>

    <!-- Price Range Management Panel -->
    <div class="panel panel-primary" style="margin-top: 20px;">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-usd"></span> Car Price Range Management
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <form ng-submit="addPriceRange()" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-3">Minimum Price ($):</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input type="number" 
                                           class="form-control" 
                                           ng-model="priceRange.min" 
                                           placeholder="Enter minimum price"
                                           min="0"
                                           required>
                                </div>
                                <span class="help-block text-muted">Minimum allowed price for car listings</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Maximum Price ($):</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input type="number" 
                                           class="form-control" 
                                           ng-model="priceRange.max" 
                                           placeholder="Enter maximum price"
                                           min="{{priceRange.min}}"
                                           required>
                                </div>
                                <span class="help-block text-muted">Maximum allowed price for car listings</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" 
                                        class="btn btn-primary"
                                        ng-disabled="!priceRange.min || !priceRange.max || priceRange.min >= priceRange.max">
                                    <span class="glyphicon glyphicon-floppy-disk"></span> Save Price Range
                                </button>
                                <div class="help-block" ng-if="priceRange.min >= priceRange.max">
                                    <span class="text-danger">
                                        <span class="glyphicon glyphicon-warning-sign"></span> Maximum price must be greater than minimum price
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-md-4 col-sm-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">Current Price Range</h4>
                        </div>
                        <div class="panel-body text-center">
                            <h3 ng-if="priceRange.min !== undefined && priceRange.max !== undefined">
                                ${{priceRange.min | number:0}} - ${{priceRange.max | number:0}}
                            </h3>
                            <p ng-if="priceRange.min === undefined || priceRange.max === undefined" class="text-muted">
                                No price range set
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <small class="text-muted">
                <span class="glyphicon glyphicon-info-sign"></span> 
                These price limits will be enforced when users list new cars.
            </small>
        </div>
    </div>

    <!-- Platform Charge Management Panel -->
    <div class="panel panel-primary" style="margin-top: 20px;">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-percent"></span> Platform Charge Management
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <form ng-submit="savePlatformCharge()" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-3">Platform Charge (%):</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input type="number" 
                                           class="form-control" 
                                           ng-model="platformCharge.percentage" 
                                           placeholder="Enter platform charge percentage"
                                           min="0"
                                           max="100"
                                           step="0.01"
                                           required>
                                    <span class="input-group-addon">%</span>
                                </div>
                                <span class="help-block text-muted">Platform charge percentage to be applied on each rental</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" 
                                        class="btn btn-primary"
                                        ng-disabled="platformCharge.percentage === undefined || platformCharge.percentage < 0 || platformCharge.percentage > 100">
                                    <span class="glyphicon glyphicon-floppy-disk"></span> Save Platform Charge
                                </button>
                                <div class="help-block" ng-if="platformCharge.percentage < 0 || platformCharge.percentage > 100">
                                    <span class="text-danger">
                                        <span class="glyphicon glyphicon-warning-sign"></span> Platform charge must be between 0% and 100%
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-md-4 col-sm-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">Current Platform Charge</h4>
                        </div>
                        <div class="panel-body text-center">
                            <h3 ng-if="platformCharge.percentage !== undefined">
                                {{platformCharge.percentage}}%
                            </h3>
                            <p ng-if="platformCharge.percentage === undefined" class="text-muted">
                                No platform charge set
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <small class="text-muted">
                <span class="glyphicon glyphicon-info-sign"></span> 
                This percentage will be charged as platform fee on each rental transaction.
            </small>
        </div>
    </div>

    <div class="container-fluid text-center" ng-if="cars.length === 0">
        <div class="alert alert-warning">
            <i class="fa fa-exclamation-triangle"></i> No Car Approvals
        </div>
    </div>
    
    <div class="row" ng-if="cars.length > 0">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3" ng-repeat="car in cars | orderBy:'-createdAt'">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div uib-carousel active="activeSlide" interval="5000" no-wrap="false">
                        <div uib-slide ng-repeat="slide in car.vehicleImages track by $index" index="$index">
                            <img ng-src="{{slide.url}}" class="img-fluid center-block" style="height: 200px; object-fit: cover; border-radius: 8px;" alt="Car Image">
                        </div>
                    </div>
                    
                    <h3 class="text-center">{{car.company}} {{ car.name }} ({{ car.modelYear }})</h3>
                    <p><strong>Price:</strong> ${{ car.price }}</p>
                    <p><strong>Fuel Type:</strong> {{ car.fuelType }}</p>
                    <p><strong>Category:</strong> {{ car.category }}</p>
                    <p><strong>Mileage:</strong> {{ car.mileage }} kmpl</p>
                    
                    <div class="well well-sm">
                        <strong>Owner:</strong> {{ car.owner.firstName }} {{ car.owner.lastName }}<br>
                        <strong>Username:</strong> {{ car.owner.username }}<br>
                        <strong>City:</strong> {{ car.owner.city }}<br>
                        <strong>Adhaar No:</strong> {{ car.owner.adhaar }}
                    </div>
                    
                    <div class="text-center">
                        <button class="btn btn-success" ng-click="approveCar(car._id)">Approve</button>
                        <button class="btn btn-danger" ng-click="rejectCar(car._id)">Reject</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
