
<div ng-init="init()" class="container-fluid">
  <h1 class="panel-heading text-center" style="margin-left: 100px;">
     Analytics Dashboard
  </h1>
  <div class="row">
    <div class="col-md-10 col-md-offset-2 mt-3">
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-info">
            <div class="panel-heading">Average Booking Duration</div>
            <div class="panel-body">
              <h4 class="text-center">{{averageBookingDuration}} days</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-warning">
            <div class="panel-heading">Blocked Users</div>
            <div class="panel-body">
              <h4 class="text-center">{{blocked.length}}</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-success">
            <div class="panel-heading">Total Bookings</div>
            <div class="panel-body">
              <h4 class="text-center">{{confirmedBookings.length}}</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading">Bidding Conversion Percentage</div>
            <div class="panel-body">
              <h4 class="text-center">{{calculatedBiddingConversionRate}}%</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-danger">
            <div class="panel-heading">Bids in Last 7 Days</div>
            <div class="panel-body">
              <h4 class="text-center">{{numberOfBidsThisWeekAndMonth[0]}}</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-danger">
            <div class="panel-heading">Bids in Last 30 Days</div>
            <div class="panel-body">
              <h4 class="text-center">{{numberOfBidsThisWeekAndMonth[1]}}</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" ng-repeat="chartId in ['userDescriptionChart', 'monthwiseCarTrips', 'top10Cars', 'top3Sellers', 'top5MostReviewedCars', 'numberOfUsersPerCity', 'suvVsSedan', 'leastRentedCars', 'mostRentedCars', 'highestRatedCars']">
          <div class="panel panel-primary">
            <div class="panel-body">
              <canvas id="{{chartId}}" width="400" height="400"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>