<button style="margin-left: 20px;" ng-click="back()"><<<</button>
<div ng-controller="confirmedBookingsCtrl" class="confirmed-Bookings">
   
    <h1 class="text-center" ng-if="allBookings.length>0">Confirmed Bookings</h1>
    <h3 class="text-center text-muted" ng-if="allBookings.length===0">No bookings available</h3>
    <!-- Loading Spinner -->
<div class="text-center" ng-show="isLoading">
    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    <span>Loading...</span>
</div>
<div class="form-group">
    <label for="bookingType" class="control-label">🔍 Search by Booking Type:</label>   <button ng-click="resetFilter()">reset filter</button>
    <select id="bookingType" class="form-control" name="location" ng-model="bookingsType.type" ng-change="applyFilter()" required> 
      <option value="" disabled selected>🔽 Select Booking Type</option> 
      <option value="today"> Today</option>
      <option value="later"> Later</option>
    </select>
  </div>
  

   
    <div class="table-responsive" ng-if="allBookings.length>0">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Booking ID</th>
                    <th>Total Payable Amount</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>User Details</th>
                    <th>Vehicle Details</th>
                    <th>Manage Booking</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="booking in allBookings| orderBy : '-createdAt'">
                    <td>{{booking._id}}</td>
                    <td>${{calculateBookingPrice(booking.startDate, booking.endDate, booking.amount)}}</td>
                    <td>{{booking.startDate | date: 'yyyy-MM-dd'}}</td>
                    <td>{{booking.endDate | date: 'yyyy-MM-dd'}}</td>
                    <td>
                        <p><strong>First Name:</strong> {{booking.from.firstName}}</p>
                        <p><strong>Last Name:</strong> {{booking.from.lastName}}</p>
                        <p><strong>Username:</strong> {{booking.from.username}}</p>
                        <p><strong>Email:</strong> {{booking.from.email}}</p>
                    </td>
                    <td>
                        <p><strong>Car Name:</strong> {{booking.vehicle.name}}</p>
                        <p><strong>Car Model:</strong> {{booking.vehicle.modelYear}}</p>
                        <p><strong>Fuel Type:</strong> {{booking.vehicle.fuelType}}</p>
                        <p><strong>Car Price:</strong> ${{booking.vehicle.price}}</p>
                        <p><strong>Category:</strong> {{booking.vehicle.category}}</p>
                        <p><strong>Mileage:</strong> {{booking.vehicle.mileage}} kmpl</p>
                    </td>
                    <td class="text-center">
                        <button ng-click="openManageBooking(booking)" 
                                ng-if="todayBooking(booking)" 
                                class="btn btn-primary">
                            Manage Booking
                        </button>
                        <span class="badge badge-secondary" ng-if="!todayBooking(booking)">Coming Soon</span>
                    </td>
                </tr>
            </tbody>
        </table>
      
<div class="text-center">
    <ul class="pagination justify-content-center mt-3">
        <li class="page-item" ng-class="{ 'disabled': currentPage === 1 }">
            <a class="page-link" ng-click="prevPage()" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
    
        <li class="page-item disabled">
            <span class="page-link">Page {{ currentPage }} of {{ totalPages }}</span>
        </li>
    
        <li class="page-item" ng-class="{ 'disabled': currentPage === totalPages }">
            <a class="page-link"  ng-click="nextPage()" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div>

</div>

  </div>