<!-- Back Button -->
<back-button></back-button>
<div ng-controller="confirmedBookingsCtrl" class="container-fluid" ng-init="init()">
    <h1 class="text-center text-primary" ng-if="allBookings.length > 0">Confirmed Bookings</h1>
    <h3 class="text-center text-muted" ng-if="allBookings.length === 0">No bookings available</h3>

    <div class="text-center" ng-show="isLoading">
        <i class="fa fa-spinner fa-spin fa-3x"></i>
        <p>Loading...</p>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>🔍 Search by Booking Type:</strong>
        </div>
        <div class="panel-body">
            <div class="input-group">
                <select class="form-control" ng-model="bookingsType.type" ng-change="applyFilter()">
                    <option value="" disabled selected>🔽 Select Booking Type</option>
                    <option value="started">Started</option>
                    <option value="ended">Ended</option>
                    <option value="reviewed">Reviewed</option>
                    <option value="today">Today Bookings</option>
                </select>
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="resetFilter()">Reset</button>
                </span>
            </div>
        </div>
    </div>

    <div class="table-responsive" ng-if="allBookings.length > 0">
        <table class="table table-striped table-bordered">
            <thead>
                <tr class="text-center">
                    <th>Booking ID</th>
                    <th>User</th>
                    <th>Total Amount</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="booking in allBookings | orderBy: '-createdAt'">
                    <td>{{ booking._id | limitTo: 8 }}...</td>
                    <td>{{ booking.from.firstName }} {{ booking.from.lastName }}</td>
                    <td>${{ booking.calculate() }}</td>
                    <td>{{ booking.startDate | date: 'yyyy-MM-dd' }}</td>
                    <td>{{ booking.endDate | date: 'yyyy-MM-dd' }}</td>
                    <td class="text-center">
                        <button ng-click="openStartTripModal(booking)" 
                                class="btn btn-primary btn-xs"
                                ng-if="booking.todayBookingCalculator() && booking.status === 'approved'">
                            <i class="fa fa-play"></i> Start
                        </button>
                        <button ng-click="openEndTripModal(booking)" 
                                class="btn btn-danger btn-xs" 
                                ng-if="booking.status === 'started'">
                            <i class="fa fa-stop"></i> End
                        </button>
                        <button ng-click="downloadInvoice(booking)" 
                                class="btn btn-success btn-xs" 
                                ng-if="booking.status === 'ended' || booking.status === 'reviewed'">
                            <i class="fa fa-download"></i> Invoice
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center" ng-if="allBookings.length > 0">
        <ul class="pagination">
            <li ng-class="{ 'disabled': currentPage === 1 }">
                <a ng-click="prevPage()">&laquo;</a>
            </li>
            <li class="disabled"><span>Page {{ currentPage }} of {{ totalPages }}</span></li>
            <li ng-class="{ 'disabled': currentPage === totalPages }">
                <a ng-click="nextPage()">&raquo;</a>
            </li>
        </ul>
    </div>
</div>


<script type="text/ng-template" id="startTripModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Start Trip</h3>
        <button type="button" class="close" ng-click="cancel()">&times;</button>
    </div>
    <div class="modal-body">
        <div class="well">
            <h4><strong>Car Name:</strong> {{booking.vehicle.company}} {{booking.vehicle.name}}</h4>
            <h4><strong>Booking Period:</strong> {{booking.startDate | date:'shortDate'}} - {{booking.endDate | date:'shortDate'}}</h4>
            <h4><strong>Amount:</strong> ${{booking.calculate()}}</h4>
            <h4><strong>User:</strong> {{booking.from.firstName}} {{booking.from.lastName}}</h4>
        </div>
        <form name="startTripForm" novalidate>
            <div class="form-group">
                <label for="startOdometerValue">Start Odometer Reading (km)</label>
                <input type="number" 
                       class="form-control" 
                       id="startOdometerValue" 
                       ng-model="startOdometerValue" 
                       required 
                       min="0">
                <div class="text-danger" ng-show="startTripForm.startOdometerValue.$touched && startTripForm.startOdometerValue.$invalid">
                    <small ng-show="startTripForm.startOdometerValue.$error.required">Start odometer value is required.</small>
                    <small ng-show="startTripForm.startOdometerValue.$error.min">Value cannot be less than 0.</small>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" 
                ng-click="ok()"
                ng-disabled="!startOdometerValue && startOdometerValue !== 0">Start Trip</button>
    </div>
</script>


<script type="text/ng-template" id="endTripModal.html">
    <div class="modal-header">
        <h3 class="modal-title">End Trip</h3>
        <button type="button" class="close" ng-click="cancel()">&times;</button>
    </div>
    <div class="modal-body">
        <div class="well">
            <h4><strong>Car Name:</strong> {{booking.vehicle.company}} {{booking.vehicle.name}}</h4>
            <h4><strong>Booking Period:</strong> {{booking.startDate | date:'shortDate'}} - {{booking.endDate | date:'shortDate'}}</h4>
            <h4><strong>Start Odometer:</strong> {{booking.startOdometerValue}} km</h4>
            <h4><strong>Amount:</strong> ${{booking.calculate()}}</h4>
            <h4><strong>User:</strong> {{booking.from.firstName}} {{booking.from.lastName}}</h4>
        </div>
        <form name="endTripForm" novalidate>
            <div class="form-group">
                <label for="endOdometerValue">End Odometer Reading (km)</label>
                <input type="number" 
                       class="form-control" 
                       id="endOdometerValue" 
                       ng-model="endOdometerValue" 
                       required 
                       min="{{booking.startOdometerValue}}">
                <div class="text-danger" ng-show="endTripForm.endOdometerValue.$touched && endTripForm.endOdometerValue.$invalid">
                    <small ng-show="endTripForm.endOdometerValue.$error.required">End odometer value is required.</small>
                    <small ng-show="endTripForm.endOdometerValue.$error.min">End value must be greater than start value ({{booking.startOdometerValue}} km).</small>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" 
                ng-click="ok()"
                ng-disabled="!endOdometerValue || endOdometerValue < booking.startOdometerValue">End Trip</button>
    </div>
</script>
