<loading-component is-loading="isLoading" loading-text="Loading Car Details..."></loading-component>
<back-button></back-button>
<div class="container-fluid" ng-init="init()">
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default" ng-if="car">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">{{ car.company }}  {{ car.name }} ({{ car.modelYear }})</h3>
                </div>
                
                <div class="panel-body">
                    <div class="row">

                        <div class="col-md-6">
                            <div uib-carousel active="activeSlide" interval="5000" no-wrap="false" >
                                <div uib-slide ng-repeat="slide in car.vehicleImages track by $index" index="$index" >
                                    <img ng-src="{{slide.url}}" class="img-responsive center-block" style="height: 400px; width: 500px;" alt="Car Image">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h4 class="text-primary">Car Details</h4>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p><span class="label label-warning">Rating: {{averageRating==='0.0' ? 'No reviews yet' : averageRating + "⭐"}} </span></p>
                                            <p><strong>Price:</strong> ${{ car.price }} per day</p>
                                            <p class="text-warning"><small>$10 per kms after 300km</small></p>
                                            <p class="text-warning">Platform fee of {{ platformFeePercentage }}% will be added to the total price for using our services and platform</p>
                                            <p><strong>Category:</strong> {{ car.category }}</p>
                                            <p><strong>Mileage:</strong> {{ car.mileage }} kmpl</p>
                                        </div>
                                        <div class="col-sm-6">
                                            <p><strong>Color:</strong> 
                                                <span class="label" ng-style="{'background-color': car.color}">{{ car.color }}</span>
                                            </p>
                                            <p><strong>Fuel Type:</strong> {{ car.fuelType }}</p>
                                            <p><strong>Location:</strong> {{ car.city }} {{car.location==='undefined' ? '' : "("+ car.location + ")"}}</p>
                                            <p>
                                                <strong>Rating:</strong>
                                                <span ng-if="averageRating==='0.0'">No reviews yet</span>
                                                <span ng-if="averageRating!=='0.0'">
                                                    <i class="fa" ng-class="{'fa-star': $index+1 <= averageRating, 'fa-star-half-o': $index + 0.5 == averageRating, 'fa-star-o': $index >= averageRating}" ng-style="{'color': $index < averageRating ? '#ffd700' : '#ccc'}" ng-repeat="_ in [0,1,2,3,4]"></i>
                                                    <span class="badge">{{averageRating | number:1}}</span>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Owner Information</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p><strong>Username:</strong> {{ car.owner.username }}</p> 
                                            <p ng-if="sellerRating"><strong>Rating:</strong> {{ sellerRating | number:1 }} <i class="fa fa-star"></i></p>
                                        </div>
                                        <div class="col-sm-6">
                                            <p><strong>Email:</strong> {{ car.owner.email }}</p>
                                            <p ng-hide="LoggedinUser.username === car.owner.username">
                                                <button class="btn btn-primary btn-block" ng-click="chatWithOwner(car.owner)">
                                                    <i class="glyphicon glyphicon-comment"></i> Chat with Owner
                                                </button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="panel panel-success" ng-hide="isSeller">
                <div class="panel-heading">
                    <h3 class="panel-title">Book This Car</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">

                            <div class="booking-details">
                                <h4><i class="glyphicon glyphicon-calendar"></i> Select Dates</h4>
                                <div class="form-group">
                                    <input type="text" 
                                           id="dateRangePicker" 
                                           class="form-control input-lg" 
                                           placeholder="Select Start & End Date" 
                                           required>
                                    <small class="text-muted">Select your rental period</small>
                                </div>

                                <h4><i class="glyphicon glyphicon-usd"></i> Your Bid</h4>
                                <div class="form-group">
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-addon">$</span>
                                        <input type="number" 
                                               class="form-control" 
                                               ng-model="amount" 
                                               min="{{car.price}}" 
                                               max="10000" 
                                               placeholder="Enter your bid amount"
                                               required>

                                    </div>
                                    <small class="text-muted">Minimum bid: ${{car.price}}</small>
                                    <div class="text-danger" ng-if="amount < car.price">
                                        <small>Bid must be at least ${{car.price}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" >

                            <div ng-if="addOns && addOns.length > 0">
                                <h4><i class="glyphicon glyphicon-plus"></i> Available Add-ons</h4>
                                <div class="addon-list">
                                    <div class="addon-item" ng-repeat="addon in addOns">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" 
                                                       ng-checked="isAddonSelected(addon._id)"
                                                       ng-click="toggleAddon(addon)">
                                                <strong>{{addon.name}}</strong>
                                                <span class="text-primary pull-right">${{addon.price}}</span>
                                            </label>
                                            <p class="text-muted"><small>{{addon.description}}</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="booking-summary" ng-if="startDate && endDate && amount && amount >= car.price">
                        <hr>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h4 class="panel-title text-center">Booking Summary</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p><strong>Base Price:</strong> ${{car.price}}/day</p>
                                                <p><strong>Your Bid:</strong> ${{amount}}/day</p>
                                                <p ng-if="selectedAddons.length > 0">
                                                    <strong>Add-ons:</strong>
                                                    <span class="badge badge-info" ng-repeat="addon in selectedAddons">
                                                        {{addon.name}}
                                                    </span>
                                                </p>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="price-breakdown">
                                                    <p>
                                                        <span>Base Total:</span>
                                                        <span class="pull-right">${{calculateBookingPrice(startDate, endDate, amount)}}</span>
                                                    </p>
                                                    <p ng-if="selectedAddons.length > 0">
                                                        <span>Add-ons Total:</span>
                                                        <span class="pull-right">${{totalAddonPrice}}</span>
                                                    </p>
                                                    <p ng-if="platformFeePercentage > 0">
                                                        <span>Platform Fee:</span>
                                                        <span class="pull-right">${{ ((calculateBookingPrice(startDate, endDate, amount) + totalAddonPrice) * platformFeePercentage / 100).toFixed(2) }}</span>
                                                    </p>
                                                    <hr>
                                                    <p class="total-price">
                                                        <strong>Total Amount:</strong>
                                                        <span class="pull-right">${{calculateBookingPrice(startDate, endDate, amount) + totalAddonPrice + (calculateBookingPrice(startDate, endDate, amount) + totalAddonPrice) * platformFeePercentage / 100 }}</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="text-center">
                            <button type="submit" 
                                    class="btn btn-success btn-lg" 
                                    ng-disabled="processingBid"
                                    ng-click="placeBid()">
                                <i class="glyphicon glyphicon-check"></i>
                                Place Bid at ${{calculateBookingPrice(startDate, endDate, amount) + totalAddonPrice}}/day
                            </button>
                            <div class="loading-spinner" ng-show="processingBid">
                                <i class="fa fa-spinner fa-spin fa-2x"></i>
                                <p class="text-muted">Processing your bid...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Customer Reviews</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-warning" ng-repeat="review in carReviews">
                                <div class="panel-heading clearfix">
                                    <div class="pull-left">
                                        <strong>{{ review.reviewer.username || 'Anonymous' }}</strong>
                                    </div>
                                    <div class="pull-right">
                                        <span class="label label-warning">⭐ {{ review.rating }} / 5</span>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <blockquote>
                                        <p>{{ review.review }}</p>
                                        <footer>Posted on <cite>{{ review.createdAt | date:'medium' }}</cite></footer>
                                    </blockquote>
                                </div>
                            </div>
                            
                            <div class="alert alert-info text-center" ng-if="!carReviews.length">
                                No reviews yet. Be the first to review!
                            </div>
                            
                            <div class="text-center" ng-if="hasMoreReviews">
                                <button class="btn btn-primary btn-lg" ng-click="loadMoreReviews()">
                                    <i class="glyphicon glyphicon-chevron-down"></i> Load More Reviews
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

          
    </div>
</div>

<style>
.addon-list {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.addon-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.addon-item:last-child {
    border-bottom: none;
}

.checkbox {
    margin: 0;
}

.checkbox label {
    width: 100%;
    font-weight: normal;
}

.selected-addons {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #eee;
}

.badge {
    margin: 2px;
    padding: 5px 10px;
    font-size: 12px;
    background-color: #2196F3;
}

.badge-info {
    background-color: #5bc0de;
}

.total-price {
    font-size: 18px;
    color: #2196F3;
    margin-bottom: 0;
}

.price-breakdown {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 4px;
}

.price-breakdown p {
    margin-bottom: 8px;
}

.loading-spinner {
    margin-top: 15px;
}

.booking-details h4 {
    margin-bottom: 20px;
    color: #333;
}

.input-group-addon {
    background-color: #f5f5f5;
    font-weight: bold;
}

hr {
    margin: 30px 0;
    border-color: #eee;
}

.panel-info > .panel-heading {
    background-color: #2196F3;
    color: white;
    border-color: #2196F3;
}

.btn-success {
    padding: 12px 30px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn-success:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.text-muted {
    font-size: 12px;
    margin-top: 5px;
}
</style>


