<back-button></back-button>
<div ng-init="init()" class="container">
  <div class="panel panel-default user-card">
    <div class="panel-heading text-center">
      <h2 class="panel-title">Your Profile</h2>
    </div>
    <div class="panel-body text-center">
      <button class="btn btn-primary" ng-click="openUpdateModal(user)">
        <span class="glyphicon glyphicon-edit"></span> Edit Profile
      </button>
      <p><strong>Name:</strong> <span class="text-primary">{{ user.firstName }} {{ user.lastName }}</span></p>
      <p><strong>Username:</strong> {{ user.username }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>City:</strong> {{ user.city }}</p>
    </div>
  </div>
  <div class="alert alert-warning mt-4" ng-if="user.isSeller===false">
    <strong >Want to become a seller??  <button ng-click="navigate()" class="btn btn-primary"> Add Car </button> </strong>
</div>
  <div class="panel panel-info" ng-if="user.isSeller">
    <div class="panel-heading text-center">
      <h3 class="panel-title">Added Cars</h3>
    </div>
    <div class="panel-body text-center">
      <div class="btn-group">
        <button class="btn btn-default" ng-click="showRejected()" ng-class="{'active': activeButton === 'rejected'}">
          Rejected
        </button>
        <button class="btn btn-default" ng-click="showApproved()" ng-class="{'active': activeButton === 'approved'}">
          Approved
        </button>
        <button class="btn btn-default" ng-click="showAll()" ng-class="{'active': activeButton === 'all'}">
          All
        </button>
        <button class="btn btn-primary" ng-click="reset()" ng-class="{'active': activeButton === 'all'}">
          reset
        </button>
      </div>
      <div class="col-12 text-center" ng-show="userCars.length === 0">
        <div class="alert alert-warning mt-4">
            <strong>No available cars matching your filters.</strong>
        </div>
    </div>
   
      <div class="row">
        <div class="col-md-4" ng-repeat="car in userCars" ng-if="userCars.length>0">
          <div class="thumbnail">
            <img style="width: 200px; height: 200px;" ng-src="{{ car.vehicleImages[0].url }}" alt="{{ car.carName }}" class="img-responsive" ng-click="redirectToCarPage(car._id)">
            <div class="caption">
              <p><strong>Price:</strong> ${{ car.price }} per day</p>
              <p><strong>Car Name:</strong> {{ car.name }}</p>
              <p><strong>Category:</strong> {{ car.category }}</p>
              <p><strong>Status:</strong> {{ car.status }}</p>
              <div class="btn-group">
                <button class="btn btn-warning" ng-click="openPriceModal(car)">
                  <span class="glyphicon glyphicon-pencil"></span> Edit Price
                </button>
                <button class="btn btn-info" 
                        ng-if="car.status === 'approved'"
                        ng-click="viewCarBookings(car)"
                        type="button">
                    <span class="glyphicon glyphicon-list"></span> View Bookings
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
     
    </div>
    <div class="text-center" ng-click="loadMore()" ng-if="hasMoreCars && !isLoading" style="margin-bottom: 20px;">
      <button id="load-more-btn" class="btn btn-primary mt-3">
          Load More <span class="glyphicon glyphicon-chevron-down"></span>
        </button>
  </div>
    <!-- Loading spinner -->
    <div class="text-center" ng-show="isLoading" style="margin: 20px 0;">
      <span class="glyphicon glyphicon-refresh spin" style="font-size: 24px;"></span>
      <p>Loading...</p>
  </div>
  </div>



  <script type="text/ng-template" id="priceModal.html">
    <div class="modal-header">
      <button type="button" class="close" ng-click="$dismiss()">&times;</button>
      <h4 class="modal-title">Update Car Price</h4>
    </div>
    <div class="modal-body">
      <input type="number" class="form-control" placeholder="Enter new price"  ng-model="selectedCarPrice.price">
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="updatePrice()">Save</button>
    </div>
  </script>


  <script type="text/ng-template" id="updateUserModal.html">
    <div class="modal-header">
      <button type="button" class="close" ng-click="cancel()">&times;</button>
      <h4 class="modal-title">Update Profile</h4>
    </div>
    <div class="modal-body">
      <form name="updateUserForm" novalidate>
        <div class="form-group">
          <label>First Name</label>
          <input type="text"
                 name="firstName"
                 class="form-control"
                 placeholder="Enter first name"
                 ng-model="updatedUser.firstName"
                 required
                 ng-minlength="3"
                 ng-maxlength="50">
        </div>
      
        <div class="form-group">
          <label>Last Name</label>
          <input type="text"
                 name="lastName"
                 class="form-control"
                 placeholder="Enter last name"
                 ng-model="updatedUser.lastName"
                 required
                 ng-minlength="3"
                 ng-maxlength="50">
        </div>
      
        <div class="form-group">
          <label>City</label>
          <select class="form-control"
                  name="city"
                  ng-model="updatedUser.city"
                  required>
            <option value="" disabled>Please select your city</option>
            <option ng-repeat="city in cities" value="{{city}}">{{city}}</option>
          </select>
        </div>
      </form>
      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary" ng-click="saveUser()">Save Changes</button>
    </div>
  </script>

  
</div>
