<back-button></back-button>
<div class="container mt-4 p-4 shadow bg-white rounded" ng-app="carApp" ng-controller="addCarCtrl" ng-init="init()">
    <h2 class="text-center text-primary mb-4">Add a New Car</h2>
    <form id="addCarForm" class="form-horizontal" name="addCarForm" novalidate ng-submit="submitCarForm(addCarForm)">


        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Car Name:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="carName" name="carName" placeholder="Enter car name" required ng-minlength="3" ng-maxlength="30">
                <div class="text-danger" ng-show="addCarForm.carName.$touched && addCarForm.carName.$error.required">
                    Car name is required.
                </div>
                <div class="text-danger" ng-show="addCarForm.carName.$touched && addCarForm.carName.$error.minlength">
                    Car name must be at least 3 characters long.
                </div>
                    <div class="text-danger" ng-show="addCarForm.carName.$touched && addCarForm.carName.$error.maxlength">
                        Car name cannot be more than 30 characters long.
                    </div>
                
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Company:</label>
            <div class="col-sm-9">
                <select class="form-control" ng-model="company" name="company" required>
                    <option value="" disabled selected>Select Car company</option>
                    <option value="Toyota">Toyota</option>
                    <option value="Ford">Ford</option>
                    <option value="Honda">Honda</option>
                    <option value="BMW">BMW</option>
                    <option value="Mercedes-Benz">Mercedes-Benz</option>
                    <option value="Tesla">Tesla</option>
                    <option value="Chevrolet">Chevrolet</option>
                    <option value="Nissan">Nissan</option>
                    <option value="Hyundai">Hyundai</option>
                    <option value="Volkswagen">Volkswagen</option>
                </select>
                <div class="text-danger" ng-show="addCarForm.company.$touched && addCarForm.company.$error.required">
                    Company is required.
                </div>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Model Year:</label>
            <div class="col-sm-9">
                <input type="number" class="form-control" ng-model="carModel" name="carModel" placeholder="Enter model year" required ng-min="1900" ng-max="{{currentYear}}">
                <div class="text-danger" ng-show="addCarForm.carModel.$touched && addCarForm.carModel.$error.required">
                    Model year is required.
                </div>
                <div class="text-danger" ng-show="addCarForm.carModel.$touched && addCarForm.carModel.$error.max">
                    Model year cannot be in the future.
                </div>
                <div class="text-danger" ng-show="addCarForm.carModel.$touched && addCarForm.carModel.$error.min">
                   Model year cannot be less than 1900.
                </div>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Category:</label>
            <div class="col-sm-9">
                <select class="form-control" ng-model="category" name="category" required>
                    <option value="" disabled selected>Select Category</option>
                    <option ng-repeat="cat in carCategories" value="{{cat.name}}">{{cat.name}}</option>
                </select>
                <div class="text-danger" ng-show="addCarForm.category.$touched && addCarForm.category.$error.required">
                    Category is required.
                </div>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Fuel Type:</label>
            <div class="col-sm-9">
                <select class="form-control" ng-model="fuelType" name="fuelType" required>
                    <option value="" disabled selected>Select Fuel Type</option>
                    <option value="petrol">Petrol</option>
                    <option value="diesel">Diesel</option>
                    <option value="electric">Electric</option>
                </select>
                <div class="text-danger" ng-show="addCarForm.fuelType.$touched && addCarForm.fuelType.$error.required">
                    Fuel type is required.
                </div>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Location:</label>
            <div class="col-sm-9">
                <select class="form-control" ng-model="location" name="location" required>
                    <option value="" disabled selected>Select Location</option>
                    <option value="local">Local</option>
                    <option value="outstation">Outstation</option>
                    <option value="both">Both</option>
                </select>
                <div class="text-danger" ng-show="addCarForm.location.$touched && addCarForm.location.$error.required">
                    Location is required.
                </div>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Car Color:</label>
            <div class="col-sm-9">
                <input type="color" class="form-control" ng-model="color" name="color" required>
                <div class="text-danger" ng-show="addCarForm.color.$touched && addCarForm.color.$error.required">
                    Car color is required.
                </div>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Price Per Day:</label>
            <div class="col-sm-9">
                <input type="number" class="form-control" ng-model="carPrice" name="carPrice" placeholder="500 - 10000" required ng-min="500" ng-max="10000">
                <div class="text-danger" ng-show="addCarForm.carPrice.$touched && addCarForm.carPrice.$error.required">
                    Price per day is required.
                </div>
                <div class="text-danger" ng-show="addCarForm.carPrice.$touched && (addCarForm.carPrice.$error.min || addCarForm.carPrice.$error.max)">
                    Price must be between 500 and 10000.
                </div>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Mileage (km):</label>
            <div class="col-sm-9">
                <input type="number" class="form-control" ng-model="mileage" name="mileage" placeholder="Enter mileage" required ng-min="5" ng-max="1000">
                <div class="text-danger" ng-show="addCarForm.mileage.$touched && addCarForm.mileage.$error.required">
                    Mileage is required.
                </div>
                <div
                class="text-danger"
                ng-show="addCarForm.mileage.$touched && (addCarForm.mileage.$error.min || addCarForm.mileage.$error.max)"
            >
                Mileage must be between 5 and 1000.
            </div>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Car Images:</label>
            <div class="col-sm-9">
                <input type="file" 
                       class="form-control" 
                       accept=".jpg, .jpeg, .png" 
                       multiple 
                       onchange="angular.element(this).scope().previewImages(this)"
                       id="imageInput">
                <small class="text-muted">Select up to 5 images (JPG, JPEG, PNG)</small>
                <div class="text-danger" ng-if="imageError">{{ imageError }}</div>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-3 col-form-label">City:</label>
            <div class="col-sm-9">
                <select class="form-control" ng-model="city" name="city" required>
                    <option value="" disabled selected>Select City</option>
                    <option ng-repeat="city in cities" value="{{city}}">{{city}}</option>
                </select>
                <div class="text-danger" ng-show="addCarForm.city.$touched && addCarForm.city.$error.required">
                    City is required.
                </div>
            </div>
        </div>


        <div class="form-group row" ng-if="!isLoading">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-success btn-block" ng-disabled="addCarForm.$invalid">Add Car</button>
            </div>
        </div>


        <div class="text-center" ng-show="isLoading">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw text-primary"></i>
            <span class="text-primary">Processing...</span>
        </div>

    </form>
</div>