<div class="admin-page-container" style="padding-top: 20px;">
    <h1 class="text-center">Users</h1>

    <div class="container-fluid" ng-init="init()">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">

                <div class="form-group" style="margin-bottom: 20px;">
                    <div class="row">
                        <div class="col-md-4">
                            <label>User Type:</label>
                            <div class="btn-group btn-group-justified" role="group">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn" 
                                        ng-class="{'btn-primary': userType === 'seller', 'btn-default': userType !== 'seller'}" 
                                        ng-click="setUserType('seller')">
                                        <i class="glyphicon glyphicon-tag"></i> Sellers
                                    </button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn" 
                                        ng-class="{'btn-primary': userType === 'buyer', 'btn-default': userType !== 'buyer'}" 
                                        ng-click="setUserType('buyer')">
                                        <i class="glyphicon glyphicon-shopping-cart"></i> Buyers
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2" style="margin-top: 25px;">
                            <button class="btn btn-default btn-block" ng-click="resetFilter()">
                                <i class="glyphicon glyphicon-refresh"></i> Reset Filters
                            </button>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label>Search:</label>
                    <input type="text" ng-model="search" placeholder="Search for user by username/name" 
                        class="form-control" 
                        ng-change="filterUsersWithDelay()">
                </div>


                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in allUsers">
                                <td>{{user.firstName}} {{user.lastName}}</td>
                                <td>{{user.username}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.isSeller ? 'Seller' : 'Buyer'}}</td>
                                <td class="text-center">
                                    <button class="btn btn-danger btn-sm" ng-hide="user.isBlocked" ng-click="block(user._id)">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Block
                                    </button>
                                    <button class="btn btn-success btn-sm" ng-show="user.isBlocked" ng-click="unblock(user._id)">
                                        <span class="glyphicon glyphicon-ok-circle"></span> Unblock
                                    </button>
                                </td>
                            </tr>
                            <tr ng-if="allUsers.length === 0 && !isLoading">
                                <td colspan="5" class="text-center">No users found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="text-center" ng-show="isLoading">
                    <i class="fa fa-spinner fa-spin fa-3x fa-fw text-primary"></i>
                    <span class="text-primary">Loading...</span>
                </div>


                <div class="text-center" ng-if="pagination.totalItems > 0">
                    <ul uib-pagination
                        total-items="pagination.totalItems"
                        ng-model="pagination.currentPage"
                        ng-change="pageChanged()"
                        max-size="pagination.maxSize"
                        items-per-page="pagination.itemsPerPage"
                        class="pagination-sm"
                        boundary-links="true"
                        force-ellipses="true"
                        first-text="&laquo;"
                        last-text="&raquo;"
                        previous-text="&lsaquo;"
                        next-text="&rsaquo;"
                        rotate="true">
                    </ul>
                    <div class="text-muted">
                        <small>
                            Showing {{((pagination.currentPage - 1) * pagination.itemsPerPage) + 1}} 
                            to {{Math.min(pagination.currentPage * pagination.itemsPerPage, pagination.totalItems)}} 
                            of {{pagination.totalItems}} users
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
