<back-button></back-button>
<div ng-controller="ownerBiddingsCtrl" class="owner-bookings container-fluid" ng-init="init()">
    <h1 class="text-center" ng-if="bookings.length > 0">Bidding Requests</h1>

    <div class="panel panel-default" style="margin: 10px 0;">
        <div class="panel-heading">
            <h3 class="panel-title">Filter and Sort</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="form-group">
                        <label class="control-label">Filter by Car:</label>
                        <select class="form-control" ng-model="filters.selectedCar" ng-change="fetchBookings()">
                            <option value="">All Cars</option>
                            <option ng-repeat="car in myCars" value="{{car._id}}">
                                {{car.vehicle.company}} {{car.vehicle.name}} ({{car.vehicle.modelYear}})
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4">
                    <div class="form-group">
                        <label class="control-label">Sort By:</label>
                        <select class="form-control" ng-model="sort.sortBy" ng-change="fetchBookings()">
                            <option value="">Default (Latest First)</option>
                            <option value="amount">Price (High to Low)</option>
                            <option value="startDate">Start Date (Latest First)</option>
                        </select>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4">
                    <div class="form-group">
                        <label class="control-label">Actions:</label>
                        <div class="btn-group btn-group-sm btn-block">
                            <button class="btn btn-primary" 
                                    ng-click="showOptimalBids()" 
                                    ng-disabled="isLoadingOptimal">
                                <i class="glyphicon glyphicon-star"></i> 
                                <span ng-if="!isLoadingOptimal">Optimal Bids</span>
                                <span ng-if="isLoadingOptimal"><i class="fa fa-spinner fa-spin"></i> Loading...</span>
                            </button>
                            <button class="btn btn-default" 
                                    ng-click="resetFilters()" 
                                    ng-disabled="!filters.selectedCar && !sort.sortBy">
                                <i class="glyphicon glyphicon-refresh"></i> Reset
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row" ng-if="optimalBidsActive">
                <div class="col-xs-12">
                    <div class="alert alert-info">
                        <i class="glyphicon glyphicon-info-sign"></i> 
                        Optimal bids are highlighted in <span class="label label-success">green</span>. 
                        These combinations will maximize your total revenue.
                        <button class="btn btn-xs btn-default pull-right" ng-click="clearOptimalBids()">Clear Highlights</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center" ng-show="isLoading">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        <span>Loading...</span>
    </div>

    <div ng-if="bookings.length === 0">
        <div class="alert alert-info text-center">
            <i class="fa fa-info-circle"></i> No biddings available
        </div>
    </div>


    <div class="table-responsive hidden-xs" ng-if="bookings.length > 0" style="margin: 10px 0;">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="text-center">
                    <th>Car Name</th>
                    <th>Car Model</th>
                    <th>Price per Day</th>
                    <th>Bid Amount</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Total Payable</th>
                    <th>User Details</th>
                    <th>Addons</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="booking in bookings" ng-class="{'success': isOptimalBid(booking._id)}">
                    <td>{{booking.vehicle.company}} {{ booking.vehicle.name }}</td>
                    <td>{{ booking.vehicle.modelYear }}</td>
                    <td>{{ booking.vehicle.price | currency:"₹" }}</td>
                    <td>{{ booking.amount | currency:"₹" }}</td>
                    <td>{{ booking.startDate | date:'yyyy-MM-dd' }}</td>
                    <td>{{ booking.endDate | date:'yyyy-MM-dd' }}</td>
                    <td>{{ booking.calculate() | currency:"₹" }}</td>
                    <td>
                        <p><strong>First Name:</strong> {{ booking.from.firstName }}</p>
                        <p><strong>Last Name:</strong> {{ booking.from.lastName }}</p>
                        <p><strong>Username:</strong> {{ booking.from.username }}</p>
                    </td>
                    <td>
                        <p ng-if="booking.selectedAddons" ng-repeat="addon in booking.selectedAddons">{{ addon.name }}</p>
                        <p ng-if="booking.selectedAddons.length===0">
                            N/A
                        </p>
                    </td>
                    <td class="text-center">
                        <button ng-click="approveBidding(booking._id)" 
                                ng-if="!checkApproved(booking)" 
                                class="btn btn-success btn-sm">
                            Approve
                        </button>
                        <button ng-click="rejectBidding(booking._id)" 
                                ng-if="!checkApproved(booking)" 
                                class="btn btn-danger btn-sm">
                            Reject
                        </button>
                        <span ng-if="isOptimalBid(booking._id)" class="label label-success">
                            <i class="glyphicon glyphicon-star"></i> Optimal
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    

    <div class="visible-xs" ng-if="bookings.length > 0">
        <div class="panel" ng-repeat="booking in bookings" 
             ng-class="{'panel-default': !isOptimalBid(booking._id), 'panel-success': isOptimalBid(booking._id)}" 
             style="margin: 15px 5px;">
            <div class="panel-heading">
                <h4 class="panel-title">
                    {{booking.vehicle.company}} {{ booking.vehicle.name }} ({{ booking.vehicle.modelYear }})
                    <span ng-if="isOptimalBid(booking._id)" class="label label-success pull-right">
                        <i class="glyphicon glyphicon-star"></i> Optimal
                    </span>
                </h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6"><strong>Price per Day:</strong></div>
                    <div class="col-xs-6">{{ booking.vehicle.price | currency:"₹" }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-6"><strong>Bid Amount:</strong></div>
                    <div class="col-xs-6">{{ booking.amount | currency:"₹" }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-6"><strong>Start Date:</strong></div>
                    <div class="col-xs-6">{{ booking.startDate | date:'yyyy-MM-dd' }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-6"><strong>End Date:</strong></div>
                    <div class="col-xs-6">{{ booking.endDate | date:'yyyy-MM-dd' }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-6"><strong>Total Payable:</strong></div>
                    <div class="col-xs-6">{{ booking.calculate() | currency:"₹" }}</div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-12"><strong>User Details:</strong></div>
                    <div class="col-xs-12">
                        {{ booking.from.firstName }} {{ booking.from.lastName }} ({{ booking.from.username }})
                    </div>
                </div>
                <hr>
                <div class="row" ng-if="booking.selectedAddons && booking.selectedAddons.length > 0">
                    <div class="col-xs-12"><strong>Addons:</strong></div>
                    <div class="col-xs-12">
                        <span ng-repeat="addon in booking.selectedAddons" class="label label-info" style="margin-right: 5px; display: inline-block; margin-bottom: 5px;">
                            {{ addon.name }}
                        </span>
                    </div>
                </div>
                <div class="row" ng-if="!booking.selectedAddons || booking.selectedAddons.length === 0">
                    <div class="col-xs-12"><strong>Addons:</strong> N/A</div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <button ng-click="approveBidding(booking._id)" 
                                ng-if="!checkApproved(booking)" 
                                class="btn btn-success">
                            <i class="glyphicon glyphicon-ok"></i> Approve
                        </button>
                        <button ng-click="rejectBidding(booking._id)" 
                                ng-if="!checkApproved(booking)" 
                                class="btn btn-danger">
                            <i class="glyphicon glyphicon-remove"></i> Reject
                        </button>
                        <span ng-if="isOptimalBid(booking._id)" class="label label-success">
                            <i class="glyphicon glyphicon-star"></i> Optimal
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center" style="margin: 15px 0;">
        <div class="btn-group">
            <button class="btn btn-primary" 
                    ng-disabled="pagination.currentPage === 1" 
                    ng-click="prevPage()">
                &laquo; Previous
            </button>

            <span class="btn btn-default disabled">
                Page {{ pagination.currentPage }} of {{ pagination.totalPages }}
            </span>

            <button class="btn btn-primary" 
                    ng-disabled="pagination.currentPage === pagination.totalPages" 
                    ng-click="nextPage()">
                Next &raquo;
            </button>
        </div>
    </div>
</div>