<back-button></back-button>

<div ng-init="init()" class="container">
    <div class="row">
        <div class="col-md-8">
            <h2 class="text-center" ng-show="bookings.length > 0">Booking History</h2>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-btn" uib-dropdown dropdown-append-to-body>
                            <button type="button" class="btn btn-default" uib-dropdown-toggle>
                                <span class="glyphicon glyphicon-sort"></span> Sort By: {{selectedSort.label}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                <li><a href ng-click="applySorting('createdAt', -1, 'Latest First')">Latest First</a></li>
                                <li><a href ng-click="applySorting('createdAt', 1, 'Oldest First')">Oldest First</a></li>
                                <li class="divider"></li>
                                <li><a href ng-click="applySorting('amount', -1, 'Amount High to Low')">Amount High to Low</a></li>
                                <li><a href ng-click="applySorting('amount', 1, 'Amount Low to High')">Amount Low to High</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
       

    <div class="container-fluid text-center" style="height: 100vh; background-color: #f8f9fa; display: flex; justify-content: center; align-items: center;" 
         ng-hide="bookings.length > 0">
        <div class="well" style="max-width: 500px; width: 100%; padding: 20px; border-radius: 10px; background: white; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);">
            <h1 style="font-size: 5rem;">🗓️</h1>
            <h2 class="text-muted">No Booking History</h2>
        </div>
    </div>

    <div class="table-responsive" ng-show="bookings.length > 0">
        <table class="table table-hover table-bordered table-striped">
            <thead class="table-primary">
                <tr class="text-center">
                    <th>#</th>
                    <th>Total Payable Amount</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Owner Name</th>
                    <th>Owner Username</th>
                    <th>Car Name</th>
                    <th>Car Type</th>
                    <th>Download Invoice</th>
                    <th>Book again ?</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="booking in bookings" class="text-center">
                    <td>{{$index + 1}}</td>
                    <td>${{booking.calculate()}}</td>
                    <td>{{booking.startDate | date: 'yyyy-MM-dd'}}</td>
                    <td>{{booking.endDate | date: 'yyyy-MM-dd'}}</td>
                    <td>{{booking.owner.firstName}} {{booking.owner.lastName}}</td>
                    <td>{{booking.owner.username}}</td>
                    <td>{{booking.vehicle.company}} {{booking.vehicle.name}}</td>
                    <td>{{booking.vehicle.fuelType}}</td>
                    <td>
                        <button class="btn btn-primary btn-sm" ng-click="booking.generatePDF()">
                            <span class="glyphicon glyphicon-download-alt"></span> Download Invoice
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-primary btn-sm" ng-click="navigateToSingleCarPage(booking.vehicle._id)">
                            <span class="glyphicon glyphicon-book"></span> Book Again
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center" ng-click="pageChanged()" ng-if="hasMoreData" style="margin-bottom: 20px;">
        <button id="load-more-btn" class="btn btn-primary mt-3">
            Load More <span class="glyphicon glyphicon-chevron-down"></span>
        </button>
    </div>
</div>

    